In [1]:
# Run this cell if using colab
%cd /content
!git clone https://github.com/Ziinc/nb-15-demo
%cd nb-15-demo
!pwd

/content
Cloning into 'nb-15-demo'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 17 (delta 1), reused 6 (delta 1), pack-reused 11
Unpacking objects: 100% (17/17), done.
/content/nb-15-demo
/content/nb-15-demo

In [2]:
!ls
!chmod u+x ./unpack
!./unpack
!ls

analysis.ipynb	data.partab  data.partad  unpack
data.partaa	data.partac  README.md
./data/NUSW-NB15_features.csv
./data/UNSW-NB15_1.csv
./data/UNSW-NB15_2.csv
./data/UNSW-NB15_3.csv
./data/UNSW-NB15_4.csv
./data/UNSW-NB15_LIST_EVENTS.csv
./data/UNSW_NB15_testing-set.csv
./data/UNSW_NB15_training-set.csv
analysis.ipynb	data.partaa  data.partac  data.tar.gz  unpack
data		data.partab  data.partad  README.md

# Data Cleaning

You can read about the features in the `./data/NUSW-NB15_features.csv` file

In [0]:
import pandas as pd


headers_df = pd.read_csv("data/NUSW-NB15_features.csv", encoding= 'unicode_escape')
headers_df.head()
column_names = headers_df["Name"].tolist()

In [26]:
column_names

['srcip',
 'sport',
 'dstip',
 'dsport',
 'proto',
 'state',
 'dur',
 'sbytes',
 'dbytes',
 'sttl',
 'dttl',
 'sloss',
 'dloss',
 'service',
 'Sload',
 'Dload',
 'Spkts',
 'Dpkts',
 'swin',
 'dwin',
 'stcpb',
 'dtcpb',
 'smeansz',
 'dmeansz',
 'trans_depth',
 'res_bdy_len',
 'Sjit',
 'Djit',
 'Stime',
 'Ltime',
 'Sintpkt',
 'Dintpkt',
 'tcprtt',
 'synack',
 'ackdat',
 'is_sm_ips_ports',
 'ct_state_ttl',
 'ct_flw_http_mthd',
 'is_ftp_login',
 'ct_ftp_cmd',
 'ct_srv_src',
 'ct_srv_dst',
 'ct_dst_ltm',
 'ct_src_ ltm',
 'ct_src_dport_ltm',
 'ct_dst_sport_ltm',
 'ct_dst_src_ltm',
 'attack_cat',
 'Label']

In [27]:
df = pd.read_csv("data/UNSW-NB15_1.csv", names=column_names)

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        srcip  sport          dstip  ... ct_dst_src_ltm attack_cat Label
0  59.166.0.0   1390  149.171.126.6  ...              1        NaN     0
1  59.166.0.0  33661  149.171.126.9  ...              2        NaN     0
2  59.166.0.6   1464  149.171.126.7  ...              1        NaN     0
3  59.166.0.5   3593  149.171.126.5  ...              1        NaN     0
4  59.166.0.3  49664  149.171.126.0  ...              1        NaN     0

[5 rows x 49 columns]